# Relacionando dados de Lotes Fiscais com IPTU 

Uma das formas de obter endereços da Cidade de São Paulo é relacionando a geometria do Lote Fiscal com os dados de IPTU

## Carregando geometrias de lotes

In [1]:
import geopandas as gpd
import pandas as pd
import glob

In [2]:
%load_ext autotime

In [3]:
all_lotes = glob.glob("data/gis/lotes/*.zip")

li = []

for filename in all_lotes:
    zip_filename = f"zip://{filename}!{filename.replace('data/gis/lotes/', '').replace('.zip', '')}"
    print(zip_filename)
    #zipfile = "zip:///Users/name/Downloads/gadm36_AFG_shp.zip!data"
    gdf = gpd.read_file(zip_filename)
#     df = pd.read_csv(filename, encoding='latin1', 
#                      sep=';', 
#                      decimal=",", 
#                      header=None, 
#                      names=colunas[filename],
#                      skiprows=[0])
# #     li.append({"arquivo": filename,
# #                "headers": list(df.columns)})
    li.append(gdf)

zip://data/gis/lotes/SIRGAS_SHP_LOTES_01_AGUA_RASA.zip!SIRGAS_SHP_LOTES_01_AGUA_RASA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_66_REPUBLICA.zip!SIRGAS_SHP_LOTES_66_REPUBLICA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_28_ERMELINO_MATARAZZO.zip!SIRGAS_SHP_LOTES_28_ERMELINO_MATARAZZO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_27_CURSINO.zip!SIRGAS_SHP_LOTES_27_CURSINO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_90_VILA_MARIANA.zip!SIRGAS_SHP_LOTES_90_VILA_MARIANA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_88_VILA_LEOPOLDINA.zip!SIRGAS_SHP_LOTES_88_VILA_LEOPOLDINA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_15_CAMPO_BELO.zip!SIRGAS_SHP_LOTES_15_CAMPO_BELO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_81_TREMEMBE.zip!SIRGAS_SHP_LOTES_81_TREMEMBE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_10_BRAS.zip!SIRGAS_SHP_LOTES_10_BRAS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_34_IPIRANGA.zip!SIRGAS_SHP_LOTES_34_IPIRANGA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_78_SE.zip!SIRGAS_SHP_LOTES_78_SE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_71_SANTO_AMARO.zip!SIRGAS_SHP_LOTES_71_SANTO_AMARO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_54_MORUMBI.zip!SIRGAS_SHP_LOTES_54_MORUMBI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_18_CANGAIBA.zip!SIRGAS_SHP_LOTES_18_CANGAIBA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_68_SACOMA.zip!SIRGAS_SHP_LOTES_68_SACOMA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_58_PEDREIRA.zip!SIRGAS_SHP_LOTES_58_PEDREIRA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_41_JAGUARE.zip!SIRGAS_SHP_LOTES_41_JAGUARE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_44_JARDIM_HELENA.zip!SIRGAS_SHP_LOTES_44_JARDIM_HELENA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_76_SAPOPEMBA.zip!SIRGAS_SHP_LOTES_76_SAPOPEMBA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_09_BOM_RETIRO.zip!SIRGAS_SHP_LOTES_09_BOM_RETIRO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_17_CAMPO_LIMPO.zip!SIRGAS_SHP_LOTES_17_CAMPO_LIMPO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_31_GUAIANASES.zip!SIRGAS_SHP_LOTES_31_GUAIANASES
zip://data/gis/lotes/SIRGAS_SHP_LOTES_79_SOCORRO.zip!SIRGAS_SHP_LOTES_79_SOCORRO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_32_MOEMA.zip!SIRGAS_SHP_LOTES_32_MOEMA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_47_JOSE_BONIFACIO.zip!SIRGAS_SHP_LOTES_47_JOSE_BONIFACIO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_40_JAGUARA.zip!SIRGAS_SHP_LOTES_40_JAGUARA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_87_VILA_JACUI.zip!SIRGAS_SHP_LOTES_87_VILA_JACUI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_50_LIMAO.zip!SIRGAS_SHP_LOTES_50_LIMAO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_02_ALTO_DE_PINHEIROS.zip!SIRGAS_SHP_LOTES_02_ALTO_DE_PINHEIROS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_23_CIDADE_DUTRA.zip!SIRGAS_SHP_LOTES_23_CIDADE_DUTRA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_95_SAO_DOMINGOS.zip!SIRGAS_SHP_LOTES_95_SAO_DOMINGOS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_37_ITAQUERA.zip!SIRGAS_SHP_LOTES_37_ITAQUERA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_83_VILA_ANDRADE.zip!SIRGAS_SHP_LOTES_83_VILA_ANDRADE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_30_GRAJAU.zip!SIRGAS_SHP_LOTES_30_GRAJAU
zip://data/gis/lotes/SIRGAS_SHP_LOTES_73_SAO_MATEUS.zip!SIRGAS_SHP_LOTES_73_SAO_MATEUS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_14_CAMBUCI.zip!SIRGAS_SHP_LOTES_14_CAMBUCI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_69_SANTA_CECILIA.zip!SIRGAS_SHP_LOTES_69_SANTA_CECILIA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_52_MARSILAC.zip!SIRGAS_SHP_LOTES_52_MARSILAC
zip://data/gis/lotes/SIRGAS_SHP_LOTES_07_BELA_VISTA.zip!SIRGAS_SHP_LOTES_07_BELA_VISTA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_21_CASA_VERDE.zip!SIRGAS_SHP_LOTES_21_CASA_VERDE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_59_PENHA.zip!SIRGAS_SHP_LOTES_59_PENHA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_08_BELEM.zip!SIRGAS_SHP_LOTES_08_BELEM
zip://data/gis/lotes/SIRGAS_SHP_LOTES_20_CARRAO.zip!SIRGAS_SHP_LOTES_20_CARRAO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_53_MOOCA.zip!SIRGAS_SHP_LOTES_53_MOOCA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_04_ARICANDUVA.zip!SIRGAS_SHP_LOTES_04_ARICANDUVA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_25_CIDADE_TIRADENTES.zip!SIRGAS_SHP_LOTES_25_CIDADE_TIRADENTES
zip://data/gis/lotes/SIRGAS_SHP_LOTES_55_PARELHEIROS.zip!SIRGAS_SHP_LOTES_55_PARELHEIROS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_46_JARDIM_SAO_LUIS.zip!SIRGAS_SHP_LOTES_46_JARDIM_SAO_LUIS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_38_JABAQUARA.zip!SIRGAS_SHP_LOTES_38_JABAQUARA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_96_LAJEADO.zip!SIRGAS_SHP_LOTES_96_LAJEADO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_77_SAUDE.zip!SIRGAS_SHP_LOTES_77_SAUDE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_49_LIBERDADE.zip!SIRGAS_SHP_LOTES_49_LIBERDADE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_24_CIDADE_LIDER.zip!SIRGAS_SHP_LOTES_24_CIDADE_LIDER
zip://data/gis/lotes/SIRGAS_SHP_LOTES_45_JARDIM_PAULISTA.zip!SIRGAS_SHP_LOTES_45_JARDIM_PAULISTA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_65_RAPOSO_TAVARES.zip!SIRGAS_SHP_LOTES_65_RAPOSO_TAVARES
zip://data/gis/lotes/SIRGAS_SHP_LOTES_22_CIDADE_ADEMAR.zip!SIRGAS_SHP_LOTES_22_CIDADE_ADEMAR
zip://data/gis/lotes/SIRGAS_SHP_LOTES_63_PIRITUBA.zip!SIRGAS_SHP_LOTES_63_PIRITUBA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_94_VILA_SONIA.zip!SIRGAS_SHP_LOTES_94_VILA_SONIA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_61_PERUS.zip!SIRGAS_SHP_LOTES_61_PERUS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_11_BRASILANDIA.zip!SIRGAS_SHP_LOTES_11_BRASILANDIA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_80_TATUAPE.zip!SIRGAS_SHP_LOTES_80_TATUAPE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_92_VILA_MEDEIROS.zip!SIRGAS_SHP_LOTES_92_VILA_MEDEIROS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_67_RIO_PEQUENO.zip!SIRGAS_SHP_LOTES_67_RIO_PEQUENO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_60_PERDIZES.zip!SIRGAS_SHP_LOTES_60_PERDIZES
zip://data/gis/lotes/SIRGAS_SHP_LOTES_64_PONTE_RASA.zip!SIRGAS_SHP_LOTES_64_PONTE_RASA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_35_ITAIM_BIBI.zip!SIRGAS_SHP_LOTES_35_ITAIM_BIBI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_33_IGUATEMI.zip!SIRGAS_SHP_LOTES_33_IGUATEMI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_82_TUCURUVI.zip!SIRGAS_SHP_LOTES_82_TUCURUVI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_19_CAPAO_REDONDO.zip!SIRGAS_SHP_LOTES_19_CAPAO_REDONDO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_89_VILA_MARIA.zip!SIRGAS_SHP_LOTES_89_VILA_MARIA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_26_CONSOLACAO.zip!SIRGAS_SHP_LOTES_26_CONSOLACAO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_84_VILA_CURUCA.zip!SIRGAS_SHP_LOTES_84_VILA_CURUCA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_43_JARDIM_ANGELA.zip!SIRGAS_SHP_LOTES_43_JARDIM_ANGELA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_16_CAMPO_GRANDE.zip!SIRGAS_SHP_LOTES_16_CAMPO_GRANDE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_75_SAO_RAFAEL.zip!SIRGAS_SHP_LOTES_75_SAO_RAFAEL
zip://data/gis/lotes/SIRGAS_SHP_LOTES_57_PARQUE_DO_CARMO.zip!SIRGAS_SHP_LOTES_57_PARQUE_DO_CARMO
zip://data/gis/lotes/SIRGAS_SHP_LOTES_12_BUTANTA.zip!SIRGAS_SHP_LOTES_12_BUTANTA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_29_FREGUESIA_DO_O.zip!SIRGAS_SHP_LOTES_29_FREGUESIA_DO_O
zip://data/gis/lotes/SIRGAS_SHP_LOTES_56_PARI.zip!SIRGAS_SHP_LOTES_56_PARI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_93_VILA_PRUDENTE.zip!SIRGAS_SHP_LOTES_93_VILA_PRUDENTE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_51_MANDAQUI.zip!SIRGAS_SHP_LOTES_51_MANDAQUI
zip://data/gis/lotes/SIRGAS_SHP_LOTES_72_SAO_LUCAS.zip!SIRGAS_SHP_LOTES_72_SAO_LUCAS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_42_JARAGUA.zip!SIRGAS_SHP_LOTES_42_JARAGUA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_48_LAPA.zip!SIRGAS_SHP_LOTES_48_LAPA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_05_ARTUR_ALVIM.zip!SIRGAS_SHP_LOTES_05_ARTUR_ALVIM
zip://data/gis/lotes/SIRGAS_SHP_LOTES_62_PINHEIROS.zip!SIRGAS_SHP_LOTES_62_PINHEIROS
zip://data/gis/lotes/SIRGAS_SHP_LOTES_36_ITAIM_PAULISTA.zip!SIRGAS_SHP_LOTES_36_ITAIM_PAULISTA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_91_VILA_MATILDE.zip!SIRGAS_SHP_LOTES_91_VILA_MATILDE
zip://data/gis/lotes/SIRGAS_SHP_LOTES_13_CACHOEIRINHA.zip!SIRGAS_SHP_LOTES_13_CACHOEIRINHA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_03_ANHANGUERA.zip!SIRGAS_SHP_LOTES_03_ANHANGUERA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_70_SANTANA.zip!SIRGAS_SHP_LOTES_70_SANTANA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_06_BARRA_FUNDA.zip!SIRGAS_SHP_LOTES_06_BARRA_FUNDA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_39_JACANA.zip!SIRGAS_SHP_LOTES_39_JACANA
zip://data/gis/lotes/SIRGAS_SHP_LOTES_86_VILA_GUILHERME.zip!SIRGAS_SHP_LOTES_86_VILA_GUILHERME
zip://data/gis/lotes/SIRGAS_SHP_LOTES_85_VILA_FORMOSA.zip!SIRGAS_SHP_LOTES_85_VILA_FORMOSA

zip://data/gis/lotes/SIRGAS_SHP_LOTES_74_SAO_MIGUEL.zip!SIRGAS_SHP_LOTES_74_SAO_MIGUEL
time: 51 s

In [4]:
gdf_lotes = gpd.GeoDataFrame(pd.concat(li, ignore_index=True))

time: 400 ms

In [5]:
gdf_lotes

,lo_setor,lo_quadra,lo_lote,lo_condomi,lo_tp_quad,lo_tp_lote,geometry
0,052,246,0000,04,F,F,"POLYGON ((339259.190 7391880.414, 339258.522 7..."
1,102,087,0000,02,F,F,"POLYGON ((339975.061 7391373.027, 339972.832 7..."
2,052,062,0000,02,F,F,"POLYGON ((338387.249 7393011.755, 338342.440 7..."
3,100,069,0025,00,F,F,"POLYGON ((339511.610 7391704.014, 339516.247 7..."
4,100,017,0021,00,F,F,"POLYGON ((338846.759 7391897.295, 338849.031 7..."
...,...,...,...,...,...,...,...
1668284,112,593,0016,00,F,F,"POLYGON ((352518.797 7399751.992, 352513.493 7..."
1668285,112,593,0043,00,F,F,"POLYGON ((352518.797 7399751.992, 352516.986 7..."
1668286,139,171,0010,00,F,F,"POLYGON ((353425.391 7398787.846, 353427.900 7..."
1668287,139,099,0023,00,F,F,"POLYGON ((353567.454 7399862.813, 353537.170 7..."
1668288,112,034,0004,00,M,M,"POLYGON ((351461.162 7401079.783, 351488.325 7..."

time: 23.6 ms

In [6]:
gdf_lotes.loc[gdf_lotes.drop(columns=['geometry']).duplicated(keep=False)].to_file("resultados/lotes-fiscais-duplicados.gpkg", driver='GPKG')

time: 1.22 s

In [7]:
gdf_lotes.drop_duplicates(subset=list(gdf_lotes.columns)[0:-1], inplace=True)
# list(gdf_lotes.columns)[0:-1]

time: 1.32 s

In [8]:
gdf_lotes.geometry = gdf_lotes.geometry.apply(lambda x: x.representative_point())

time: 11.6 s

## Carregando dados do IPTU

In [9]:
df_iptu = pd.read_csv('data/IPTU_2020.zip', sep=';',  encoding='latin1')

time: 16 s

In [10]:
colunas_endereco = ['CODLOG DO IMOVEL', 'NOME DE LOGRADOURO DO IMOVEL', 'NUMERO DO IMOVEL', 'COMPLEMENTO DO IMOVEL', 'BAIRRO DO IMOVEL']

time: 325 µs

In [11]:
df_iptu.loc[:, colunas_endereco]

,CODLOG DO IMOVEL,NOME DE LOGRADOURO DO IMOVEL,NUMERO DO IMOVEL,COMPLEMENTO DO IMOVEL,BAIRRO DO IMOVEL
0,03812-1,R S CAETANO,13.0,NaN,SANTA EFIGENIA
1,03812-1,R S CAETANO,19.0,NaN,SANTA EFIGENIA
2,03812-1,R S CAETANO,27.0,NaN,SANTA EFIGENIA
3,03812-1,R S CAETANO,33.0,NaN,NaN
4,03812-1,R S CAETANO,39.0,NaN,NaN
...,...,...,...,...,...
3498639,02235-7,AV ENG ARMANDO DE ARRUDA PEREIRA,1827.0,AP 42,JABAQUARA
3498640,02235-7,AV ENG ARMANDO DE ARRUDA PEREIRA,1827.0,AP 43,JABAQUARA
3498641,02235-7,AV ENG ARMANDO DE ARRUDA PEREIRA,1827.0,AP 44,JABAQUARA
3498642,19137-0,R COTIPORA,NaN,NaN,CIDADE VARGAS
3498643,01041-3,R AMBORES,NaN,NaN,CIDADE VARGAS

time: 84.6 ms

In [12]:
df_iptu['sqlc'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10] + df_iptu['NUMERO DO CONDOMINIO'].str[0:2]

time: 1.79 s

In [13]:
df_iptu.loc[:, ['sqlc']] = df_iptu.sqlc.apply(lambda x: x if x[10:12] == '00' else x[0:6] + '0000' + x[10:12])

time: 2.23 s

In [14]:
df_iptu.drop_duplicates(subset=['sqlc'], inplace=True)

time: 1.23 s

In [15]:
df_iptu

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NUMERO DA NL,DATA DO CADASTRAMENTO,TIPO DE CONTRIBUINTE 1,CPF/CNPJ DO CONTRIBUINTE 1,NOME DO CONTRIBUINTE 1,TIPO DE CONTRIBUINTE 2,CPF/CNPJ DO CONTRIBUINTE 2,NOME DO CONTRIBUINTE 2,...,QUANTIDADE DE PAVIMENTOS,TESTADA PARA CALCULO,TIPO DE USO DO IMOVEL,TIPO DE PADRAO DA CONSTRUCAO,TIPO DE TERRENO,FATOR DE OBSOLESCENCIA,ANO DE INICIO DA VIDA DO CONTRIBUINTE,MES DE INICIO DA VIDA DO CONTRIBUINTE,FASE DO CONTRIBUINTE,sqlc
0,0010030001-4,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0214XXXX,MARCIO MOURCHED,NaN,,NaN,...,1,"13,00",Loja,Comercial horizontal - padrão B,De esquina,"0,20",1963,1,0,001003000100
1,0010030002-2,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0214XXXX,MARCIO MOURCHED,NaN,,NaN,...,1,"6,00",Loja,Comercial horizontal - padrão B,Normal,"0,20",1963,1,0,001003000200
2,0010030003-0,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0214XXXX,MARCIO MOURCHED,NaN,,NaN,...,2,"7,85",Loja,Comercial horizontal - padrão B,Normal,"0,30",1963,1,0,001003000300
3,0010030004-9,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX2094XXXX,AUGUSTO CESAR DE MATTOS JUNIOR,NaN,,NaN,...,1,"6,05",Loja,Comercial horizontal - padrão B,Normal,"0,20",1963,1,0,001003000400
4,0010030005-7,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX2094XXXX,AUGUSTO CESAR DE MATTOS JUNIOR,NaN,,NaN,...,1,"6,70",Loja,Comercial horizontal - padrão B,Normal,"0,20",1963,1,0,001003000500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3498400,3101170293-1,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX1365XXXX,FABIO WALLNER,NaN,,NaN,...,2,"3,66",Residência,Residencial horizontal - padrão C,Normal,"0,83",2002,1,0,310117029300
3498401,3101170294-8,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX5956XXXX,CARLOS ALBERTO RODRIGUES,PESSOA FISICA (CPF),XXXXXX6743XXXX,SUSANA BERGANO PAES FERNANDES,...,2,"5,17",Residência,Residencial horizontal - padrão C,Normal,"0,83",2002,1,0,310117029400
3498402,3101180001-1,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX6048XXXX,FRANCISCA ASSAE OTUKA,NaN,,NaN,...,5,"0,00",Apartamento em condomínio,Residencial vertical - padrão B,De esquina,"0,20",1985,1,0,310118000001
3498642,3101190001-4,2020,1,11/01/20,PESSOA JURIDICA (CNPJ),XXXXXXXXXXXXXX,ESTADO DE SAO PAULO,NaN,,NaN,...,0,"0,00",Terreno,TERRENO,De esquina,"0,00",1988,1,0,310119000100
3498643,3101200001-7,2020,1,11/01/20,PESSOA JURIDICA (CNPJ),XXXXXXXXXXXXXX,ESTADO DE SAO PAULO,NaN,,NaN,...,0,"500,00",Terreno,TERRENO,Normal,"0,00",1988,1,0,310120000100

time: 793 ms

## Relacionando dado espacializado com endereço do IPTU

In [16]:
gdf_lotes['sqlc'] = gdf_lotes['lo_setor'] + gdf_lotes['lo_quadra'] + gdf_lotes['lo_lote'] + gdf_lotes['lo_condomi']

time: 538 ms

In [21]:
df_iptu.merge(gdf_lotes.loc[gdf_lotes.lo_tp_lote == 'F'], on='sqlc', how='left')
# gdf_lotes.lo_tp_lote == 'F'

,NUMERO DO CONTRIBUINTE,ANO DO EXERCICIO,NUMERO DA NL,DATA DO CADASTRAMENTO,TIPO DE CONTRIBUINTE 1,CPF/CNPJ DO CONTRIBUINTE 1,NOME DO CONTRIBUINTE 1,TIPO DE CONTRIBUINTE 2,CPF/CNPJ DO CONTRIBUINTE 2,NOME DO CONTRIBUINTE 2,...,MES DE INICIO DA VIDA DO CONTRIBUINTE,FASE DO CONTRIBUINTE,sqlc,lo_setor,lo_quadra,lo_lote,lo_condomi,lo_tp_quad,lo_tp_lote,geometry
0,0010030001-4,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0214XXXX,MARCIO MOURCHED,NaN,,NaN,...,1,0,001003000100,001,003,0001,00,F,F,POINT (333312.185 7396376.527)
1,0010030002-2,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0214XXXX,MARCIO MOURCHED,NaN,,NaN,...,1,0,001003000200,001,003,0002,00,F,F,POINT (333319.659 7396374.451)
2,0010030003-0,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX0214XXXX,MARCIO MOURCHED,NaN,,NaN,...,1,0,001003000300,001,003,0003,00,F,F,POINT (333326.646 7396374.244)
3,0010030004-9,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX2094XXXX,AUGUSTO CESAR DE MATTOS JUNIOR,NaN,,NaN,...,1,0,001003000400,001,003,0004,00,F,F,POINT (333333.281 7396373.625)
4,0010030005-7,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX2094XXXX,AUGUSTO CESAR DE MATTOS JUNIOR,NaN,,NaN,...,1,0,001003000500,001,003,0005,00,F,F,POINT (333340.583 7396378.387)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1661095,3101170293-1,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX1365XXXX,FABIO WALLNER,NaN,,NaN,...,1,0,310117029300,310,117,0293,00,F,F,POINT (333174.139 7383515.865)
1661096,3101170294-8,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX5956XXXX,CARLOS ALBERTO RODRIGUES,PESSOA FISICA (CPF),XXXXXX6743XXXX,SUSANA BERGANO PAES FERNANDES,...,1,0,310117029400,310,117,0294,00,F,F,POINT (333171.104 7383520.361)
1661097,3101180001-1,2020,1,11/01/20,PESSOA FISICA (CPF),XXXXXX6048XXXX,FRANCISCA ASSAE OTUKA,NaN,,NaN,...,1,0,310118000001,310,118,0000,01,F,F,POINT (332640.958 7384343.393)
1661098,3101190001-4,2020,1,11/01/20,PESSOA JURIDICA (CNPJ),XXXXXXXXXXXXXX,ESTADO DE SAO PAULO,NaN,,NaN,...,1,0,310119000100,310,119,0001,00,F,F,POINT (333607.729 7384186.593)
1661099,3101200001-7,2020,1,11/01/20,PESSOA JURIDICA (CNPJ),XXXXXXXXXXXXXX,ESTADO DE SAO PAULO,NaN,,NaN,...,1,0,310120000100,NaN,NaN,NaN,NaN,NaN,NaN,None

time: 9.6 s